{% extends 'base.html.twig' %}

{% block title %}Hello TradingController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Le marché des pokemons</h1>
<p>Vous avez {{app.user.pieces  }} pièces</p>
</div>

<table border="1">
<thead>
<tr>
<th>Nom</th>
<th>Espèce</th>
<th>Niveau</th>
<th>Expériences</th>
<th>Courbe de niveau</th>
<th>Dresseur</th>
<th>Prix</th>
</tr>
</thead>
</table>
{% endblock %}
